body {
    color: brown;
    background: blue;
    margin: 5%;

}

header {
    border-bottom: 10px;
    font-size: 35px;
    display: flex;
    justify-content: center;
}

div {
    color: blue;
    font-style: darkred;
}

.chamada {
    background-color: black;
    border: solid 4px blue;
    padding-bottom: 10px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
}


.chamada-texto {
    margin-right: 5%;
    padding-left: 10px;
    text-align: center;
}

.videosimagens {
    border: solid 4px whitesmoke;
    background: black;
    padding-left: 20px;
    padding-right: 20px;
}

.videos-imagens {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding: 10px;
}

header {
    font-size: 60px;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 30px;
    color: rgb(19, 16, 210);
}

img {
    height: 200px;
}

.videos-imagens img:hover {
    opacity: 0.5;
    border: 2px solid red;
}

.videosimagens h2 {
    color: black;
    font-size: 30px;
    text-align: center;
}